[Unit]
Description=pipesix IPv6 over UDP Tunnel
After=network.target

[Service]
Type=simple
ExecStartPre=/sbin/modprobe tun
ExecStart=/usr/local/sbin/pipesix -c /etc/pipesix/pipesix.conf
ExecStartPost=/etc/pipesix/route-up.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
